/*  1. Use a more-intuitive box-sizing model. */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*  2. Remove default margin  */
  * {
    margin: 0;
  }
  
  /*  3. Allow percentage-based heights in the application */
  html, body {
    height: 100%;
  }
  
  /*
    Typographic tweaks!  4. Add accessible line-height  5. Improve text rendering */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  /*  6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /*  7. Remove built-in form typography styles */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*  8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*  9. Create a root stacking context */
  #root, #__next {
    isolation: isolate;
  }

:root {
    --primary-dark-cyan: hsl(158, 36%, 37%);
    --primary-cream: hsl(30, 38%, 92%);
    --accent-very-dark-blue: hsl(212, 21%, 14%);
    --accent-dark-grayish-blue: hsl(228, 12%, 48%);
    --accent-white: hsl(0, 0%, 100%);
    --ff-body: 'Montserrat';
    --ff-heading: 'Fraunces'; 
    --weight-500: 500;
    --weight-700: 700;
}

body {
    background-color: var(--primary-cream);
    font-family: var(--ff-body);
    font-weight: var(--weight-500);
    font-size: .9rem;
    padding: 2%;
}

.div--card {
    background-color: var(--accent-white);
    border-radius: .5rem;
    padding-bottom: 10%;
}

img {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}

.div--product-class {
    letter-spacing: .3rem;
    font-size: .6rem;
    padding: 8% 0 2% 4%;
} 

h1 {
    font-family: var(--ff-heading);
    font-weight: var(--weight-700);
    padding-left: 4%;
    padding-bottom: 4%;
    padding-right: 13%;
    line-height: 2rem;
}

p {
    font-weight: var(--weight-500);
    font-family: var(--ff-body);
    padding: 2% 10% 4% 4%;
} 

.div--price {
    font-family: var(--ff-heading);
    font-weight: var(--weight-700);
    font-size: 2em;
    color: var(--primary-dark-cyan);
    padding: 0 0 10% 4%;
} 

.span--original-price {
    color: black;
    font-size: .8rem;
    text-decoration: line-through;
    padding-left: 1rem;
} 

.button--cart {
    font-weight: var(--weight-700);
    background-color: var(--primary-dark-cyan);
    color: var(--accent-white);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 1rem 7rem;
    border-radius: .5rem;
    margin: 4%;
} 

.attribution { 
    font-size: 11px;
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}
